<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ice.test"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="15"/>

    <application android:label="@string/app_name">

        <activity
            android:name=".TableOfContents"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".WorkingWithNormalWidget">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.ICE"/>
            </intent-filter>
        </activity>

        <activity android:name=".coordinate_system.CoordinateSystemTest">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.ICE"/>
            </intent-filter>
        </activity>

        <activity android:name=".constant_attribute_or_array.ConstantAttributeOrArray">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.ICE"/>
            </intent-filter>
        </activity>

        <activity android:name=".texture.SimpleTexture">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.ICE"/>
            </intent-filter>
        </activity>

        <activity android:name=".light.diffuse_lighting.PerVertexLighting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.ICE"/>
            </intent-filter>
        </activity>

        <activity android:name=".light.diffuse_lighting.PerFragmentLighting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.ICE"/>
            </intent-filter>
        </activity>

        <activity android:name=".blend.BlendTest">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.ICE"/>
            </intent-filter>
        </activity>

        <activity android:name=".ibo_test.IBOTest">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.ICE"/>
            </intent-filter>
        </activity>

    </application>

</manifest>
